<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dart.compiler.bug.dart_compiler_bug">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
